* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Arial, serif;
}

header img {
    display: none;
}

header h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color: red;
}

nav#principal ul li {
    text-align: center;
    border-radius: 10%;
}

nav#principal ul li a{
    border: 2px solid red;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
    display: block;
    border-radius: 100px;
}

main section#texto {
    text-align: justify;
    padding: 1rem;
}

section#ventas {
    padding: 3rem;
}

section#ventas article {
    border: 5px solid blue;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

section#ventas article img {
    width: 100%;
}

section#ventas article p button{
    font-size: 32px;
}

@media (min-width: 768px) {
    header h1 {
        color: blue;
        text-align: left;
    }

    header img {
        display: block;
    }

    nav#principal {
        text-align: center;
    }

    nav#principal ul li {
        display: inline-block;
    }

    nav#principal ul li a {
        padding: 1rem 3rem;
    }

    main section#texto {
        column-count: 2;
    }

    main section#texto p,h3 {
        color: blue;
    }

    section#ventas {
        column-count: 2;
    }

    section#ventas article {
        width: 20rem;
    }

    section#ventas article p:nth-child(3) {
        text-transform: uppercase;
    }

    section#ventas article p,button {
        color: blue;
    }
}